<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<configuration>
	<brokers>
		<!--Информация о доступных брокерах
	    <{Название брокера}>
			<ip>[ip брокера]</ip>
			<port>[порт брокра]</port>
			<dnsName>{DNS имя брокера}</dnsName>
		</{Название брокера}>
-->
		<RabbitMQ>
			<ip></ip>
			<port></port>
			<dnsName>localhost</dnsName>
			<!--Имя используемой очереди в RabbitMQ-->
			<queueName>
				<send>serverMessages</send>
				<receive>brolerMess</receive>
			</queueName>

		</RabbitMQ>
	</brokers>
	<!--Используемый брокер (указывается название имя элемта структуры <brokers>)-->
	<useBroker>RabbitMQ</useBroker>
	
	<configProperties>
		<Sysem.Globalization.Invariant> true </Sysem.Globalization.Invariant>
	</configProperties>
</configuration>
