@{
    ViewData["Title"] = "Input";
}
<form method="post">
    <label>Число:</label><br />
    <input type="number" name="userNumber" /><br /><br />
    <input type="submit" value="Отправить" />
</form>